@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Serif+Pro");

$red: #cc3a55;
$darkerRed: #7f172b;
$white: #fbfbfb;
$grey: #242629;
$blue: #1C7599;
$mainFont: 'Open Sans';
$titleFont: 'Source Serif Pro';

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: $white;
  background-color: darken($white, 3%);
}

.header {
  margin: 0;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  h1 {
    font-family: 'Source Serif Pro', georgia;
    font-size: 2.5em;
    display: inline-block;
    align-self: center;
    font-weight: 700;
    text-shadow: 0px 4px 4px $darkerRed;
    text-align: center;
    }

  .flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    }

  .logo{
    display: inline-block;
    height: 15vh;
    width: 40vh;
    background: url("images/cricket.png") no-repeat center;
    background-size: contain;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    flex: 0 0 auto;
  }

  .title {
    display: inline-block;
    padding: 3vw;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 6px 6px 5px -6px grey;
  }


  .main {
    padding: 5vh;
    border-top: 1px solid $grey + 100;
    border-bottom: transparent;
    flex: 1 0 auto;
    min-height: 100vh;
    color: $grey;
    width: 80vw;
    margin: 15vh auto;
    display: flex;
    flex-direction: column;

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      // display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    h2 {
      font-size: 1.4em;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
      color: $grey + 100;
      text-align: center;
      font-size: 1em;
      font-weight: 400;
    }

    .chart-wrapper {
      padding: 3vw;
      background-color: $white;
      box-shadow: 6px 6px 5px -6px grey;

      h1 {
        font-size: 2em;
        font-family: $titleFont;
        text-align: center;
        margin-bottom: 2vw;
      }
    }

    .chart{
      display: flex;
      justify-content: center;
      background-color: bisque;

      .selectedPlayer {
        stroke: steelblue;
      }

      .playerLine, .slice{
        cursor: pointer;
      }

      svg {
        background-color: bisque;
        margin: 3vh auto 0;

        circle {
          fill: grey;
          &.selectedPlayer {
            fill: steelblue;
          }
        }
      }
    }
  }

  button:focus {
    outline:none;
  }

  .button-panel {
    display: flex;
    justify-content: space-between;
    background-color: $red;
    color: $white;
    box-shadow: 0 6px 5px -6px grey;

    button {
      background-color: $red;
      color: $white;
      border: none;
      font-family: $mainFont;
      cursor: pointer;
      padding: 2vw;
      flex-grow: 1;
    }

    .active {
      background-color: darken($red, 5%);
      color: darken($white, 5%);
    }
  }

  .profile {

    .label {
      fill: grey;
      font-family: $mainFont;
      font-size: 1em;
    }

    display: flex;
    flex-wrap: wrap;

    p {
      margin: 1vw 0 0;
      text-align: right;
      font-size: 1.25em;
      font-weight: 700;
    }

    span {
      float: left;
      text-align: left;
      margin-right: 3vw;

    }

    .profile-card {
      margin: 2vw;
      background-color: $white;
      box-shadow: 6px 6px 5px -6px grey;

      .card-title{
        padding: 1vw;
        background-color: $red;
        color: $white;
        font-size: 1.25em;
        text-align: center;
      }

      .card-body {
        margin: 2vw 2vw;
        font-size: .8em;

      }
    }
  }

  .footer {
    min-height: 5vh;
    background-color: $red;
    display: flex;
    justify-content: space-around;
    flex: 0 0 auto;

    .foot-link {
      padding: 10px;
      margin: 5vh;
      border: 1px solid $white;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.profile {

  .color-chart {

    .color-block {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }

    p {
      display: inline-block;
      font-size: .75em;
      font-weight: normal;
    }

    .green {
      background-color: springgreen;
    }

    .blue {
      background-color: steelblue;
    }

    .red {
      background-color: tomato;
    }
  }
}

.pie {
  font-size: 5em;
  color: $red;
}
